<!-- this code contributes to apology section generating a random pictuere of meme and declining the credentials -->
{% extends "layout.html" %}

{% block title %}
    Apology
{% endblock %}

{% block main %}
    <!-- https://memegen.link/ -->
    <!-- https://knowyourmeme.com/memes/grumpy-cat -->

    <div class="relative z-20 flex items-center justify-center min-h-screen">
        <img alt="{{ top }}" class="border-2 border-gray-400 max-w-full h-auto rounded-lg shadow-lg"
            src="https://api.memegen.link/images/custom/{{ top | urlencode }}/{{ bottom | urlencode }}.jpg?background={{ background | urlencode }}&width=800"
            title="{{ top }}">
    </div>
{% endblock %}
